<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Send Email</title>
</head>
<body>
<br><br>
<center>
<h3>Artivatic Email Service</h3>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        To: <input type="text" name="recipients">&nbsp;&nbsp;
        Or upload CSV File: <input type="file" name="csvfile" id="csvfile">
        {% if error_message %}<p style="color:red"><strong>{{ error_message }}</strong></p>{% endif %}<br><br>
        CC: <input type="text" name="cc"><br><br>
        BCC: <input type="text" name="bcc"><br><br>
        Subject: <input type="text" name="subject"><br><br>
        Message:
        <input type="text" name="message" size="50"><br><br>
        <input type="submit" value="Send">
        <input type="reset" value="Reset">
    </form>


</center>
</body>
</html>